<DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta lang="ru">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="bg-dark">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <div style="display:block">
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Поиск по записям" aria-label="Search" name="s" th:value="${param.s}"/>
      <button class="btn btn-light btn-outline-success" type="submit" th:value="${param.s}">
        Найти
      </button>
    </form>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <td scope="col">№</td>
        <td scope="col">ID</td>
        <td scope="col">Токен</td>
        <td scope="col">Записано</td>
        <td scope="col">Отправлено</td>
        <td scope="col">Долгота</td>
        <td scope="col">Широта</td>
        <td scope="col"></td>
      </thead>

      <tr th:unless="${records.empty}" th:each="record,stats : ${records}">
        <td class="align-middle" scope="row" th:text="${stats.index + 1}">Номер записи</td>
        <td class="align-right" th:text="${record.id}">ID записи</td>
        <td class="align-right" th:text="${#strings.substring(record.fromToken, 0, 7)}">Токен</td>
        <td class="align-right" th:text="${record.date}">Записано</td>
        <td class="align-right" th:text="${record.addedDate}">Отправлено</td>
        <td class="align-right" th:text="${record.longitude}">Долгота</td>
        <td class="align-right" th:text="${record.latitude}">Широта</td>
        <td scope="col"><a class="link-light" th:href="@{/record/{recordId}(recordId = ${record.id})}">Подробнее</a></td>
      </tr>
      <tr th:if="${records.empty}">
        <td class="align-middle" colspan="8">Нет записей</td>
      </tr>
    </table>
    </div>

    <div>
    <nav th:unless="${records.empty and pages.empty}">
      <ul class="pagination">
        <li class="page-item" th:each="page,stats : ${pages}">
          <a th:unless="${#strings.equals(page, '...')}" class="page-link" th:href="@{/record?s={searchString}&page={pageNum}(searchString = ${s}, pageNum = ${page})}"
          th:text="${page}">Номер страницы</a>
          <a th:if="${#strings.equals(page, '...')}" class="page-link disabled" th:href="@{/record}">...</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</body>
</html>
